*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #25272E;
	overflow-x: hidden;
}

header{
	background-color:white;
	text-align:center;
	font-weight:bold;
	font-family:sans-serif;
	padding:20px auto;
}

header >h1{
	color:#25272E;
}

.score-board{
	position:relative;
	color:white;
	padding:15px 20px;
	border:3px solid white;
	text-align:center;
	margin:20px auto;
	width:150px;
	height:60px;
	border-radius:5px;
}

span{
}

.badge{
	background-color:#E2584D;
	padding:5px auto;
	border:1px solid #E2584D;
	font-family:sans-serif;
	width:65px;
	font-size:14px;
	border-radius:20px;
}

#user1Badge{
	position:absolute;
	top:20px;
	left:-35px;
}

#user2Badge{
	position:absolute;
	top:20px;
	right:-35px;
}

.result{
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	font-family:sans-serif;
}

span{
	font-size:30px;

}

.choices{
	margin:20px auto;
	text-align:center;
}
.choice{
	display:inline-block;
	border:3px solid white;
	border-radius:50%;
	margin:1px 15px;
	height:100px;
	width:100px;
    background-color: #fff;
	background-size:cover;
	pointer-events: auto;
}

.choicei{
	height:90%;
	width:90%;
	padding:2px 2px;
	transition:all 0.3s ease;
}

.choice:hover{
	background-color:#42f4a4;
	cursor:pointer;
}

p{
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	font-family:sans-serif;
}
.replay{
	width:80px;
	position: relative;
	margin: auto;
	top:20px;
	display: none;
	color:white;
	background-color: #e2584d;
	text-align: center;
	padding: 2px;
	border-radius: 10px;
}
.replay:hover{
	cursor: pointer;
	transform: scale(1.2);
}
.intro{
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	width: 100%;
	position: absolute;
	top:0;	
	display:block;
	
}

.popup{
	background-color: #1e1f1a;
	position:absolute;
	top:20%;
	left:10%;
	border-radius: 15px;
	height: 60vh;
	padding:20px;
	width:80%;
	text-align: center;
	color: yellowgreen;	
}

.quick_intro{
	color: red;
}
.popup_head{
	color:#fff;
}
.parra{
		margin-top:50px;
}
.popup_parra{
	color:  yellowgreen;
	font-size:15px;
	margin:20px;
}
.disappear{
	background-color: #fff;
	padding:10px;
	color:#1e1f1a;
	font-weight: bold;
	border:1px solid #1e1f1a;
	height:50px;
	width:30%;
	left:35%;
	bottom:-20%;
	border-radius:10px;
	position: relative;
	
}
.disappear:hover{
	cursor: pointer;
}

.popup2{
	background-color: #1e1f1a;
	position:absolute;
	top:20%;
	left:10%;
	border-radius: 15px;
	height: 70vh;
	padding:20px;
	width:80%;
	display:none;
	text-align: center;
	color: #fff;
}

.main-msg{
	color: red;
	font-family: 'Monoton', cursive;
}

.parra-msg{
	margin-top: 20px;
}

.popup_parra_msg1{
	margin: 10px;
}

.popup_parra_msg2{
	margin: 10px;
}

.disappear2{
	background-color: #fff;
	padding:10px;
	color:#1e1f1a;
	font-family: 'Monoton', cursive;
	font-weight: bold;
	border:1px solid #1e1f1a;
	height:50px;
	width:100px;
	left:50%;
	transform:translate(-50px,-25px);
	bottom:-35%;
	border-radius:10px;
	position: relative;	
}